root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space
max_line_length = 120

[{*.sh,gradlew}]
end_of_line = lf

[{*.bat,*.cmd}]
end_of_line = crlf

[{*.kts,*.kt}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
# Kotlin code style does not use double-continuation indents
# Revise this when the following issues are resolved:
#     https://youtrack.jetbrains.com/issue/KTIJ-17907
#     https://github.com/pinterest/ktlint/issues/805
ij_kotlin_continuation_indent_size = 4

[*.java]
# Doc: https://youtrack.jetbrains.com/issue/IDEA-170643#focus=streamItem-27-3708697.0-0
#"static ", "java.", "javax", "org", "net", "com", ""
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,org.**,|,net.**,|,com.**,|,*
ij_java_use_single_class_imports = true

[*.xml]
indent_size = 2
