# Auto detect text files and perform LF normalization
*        text=auto

*.java   text
*.html   text
*.css    text
*.js     text
*.sql    text
*.q      text

# Note: executable is a non-standard attribute, and it is used by the release plugin
*.sh     text eol=lf executable
*.cgi    text eol=lf executable

*.bat    text eol=crlf
*.cmd    text eol=crlf

# Blow files don't have extension, so we mention them explicitly
/gradlew           text eol=lf executable
/bin/jmeter        text eol=lf executable
/bin/jmeter-server text eol=lf executable
/bin/mirror-server text eol=lf executable
